$geowhite: #f7f7f7;
$geopink: #ffb8db;
$geoblue: #0099ff;
$geoyellow: #ffd700;

$plyamabuki: #ffa514;
$plmomo: #f81692;
$plmizu: #02b6ed;
$plwakatake: #5de000;
$plsumire: #8007ab;

$baseColor: #e9eaed;

$miligramText: #606c76;
