.i-sankobunken {
    text-align: center;
    margin-bottom: -2rem;
    color: #8099ffb3;

    &-text {
        padding: 0 .25rem;
    }
}

.i-github {
    text-align: center;
    margin-bottom: -2rem;
    color: deepskyblue;

    &-text {
        padding: 0 .25rem;
    }
}

.i-gutai, .i-tyusho {
    &-text {
        padding: 0 .25rem;
    }
}

.i-tantosha {
    i {
        color: gray;
    }

    &-text {
        padding-left: 0.25rem;
    }
}

.i-filePath, .i-dirPath {
    font-family: "ubuntu";
    padding: 0.2rem;
    border-radius: 0.5rem;
    color: gray;
    letter-spacing: 2px;
    font-size: .9em;

    i {
        padding-right: .25rem;
    }
}

.i-link {
    text-decoration-style: double;
    color: blueviolet;
    word-break: break-all;

    i {
        padding-right: .25rem;
    }
}

.i-button {
    font-family: 'Inconsolata', "TsukushiAMaruGothic";
}
